.container-header {
  background-color: rgb(116, 114, 117);
}

.item-header-banner {
  display: inline-block;
  width:60%;
  padding-left: 10px;
}

.item-login-button {
  display: inline-block;
  justify-self:right;

}

.item-logged-in-status {
  display: inline-block;
  padding-right: 10px;
  width: 120px
}

