.grid-container-header {
  display: grid;
  grid-template-columns: 6fr, 1fr;
  background-color: #5c5f66;
  height: 55px;
}

.grid-item-header-banner {
  grid-column: 1 / 2;
}

.grid-item-login-button {
  grid-column: 2 / 3;
  width: 65px;
  height:45px;
  height:min-content;
  justify-self: center;
  margin:10px 
}

