* {
  padding: 2px;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  height: 200px;
}


.grid-item-ticker-input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-item-portfolio-display {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.navbar {
  background: linear-gradient(to bottom, #f5b52b, #f0e7b8);
  height: 125;
  margin-bottom: 15px;
  border-radius: 10px;
}


.portfolio-display-header {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #a39090;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

}