.background {
  background: linear-gradient(to bottom, #f5b52b, #ececd9);
  min-height: 100vh;
}

.main-display {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: black;
  border-width: 5px;

  display: block;
  width: 250px;
  max-width: 40%;
  margin-left: 40%;

  display: flexbox;
  flex-direction: column;
  justify-content: center;
}


.login-main-display-user-text {
  font-size: 155;
  font-weight: 200;

  grid-column: 2 /3;
  grid-row: 2 / 3;
}

.login-main-display-user-input {
  width: 200px;
  height: 40px;
  
  grid-column: 2 /3;
  grid-row: 3 / 4;
}

.login-main-display-pass-text {
  font-size: 155;
  font-weight: 200;

  grid-column: 2 /3;
  grid-row: 4 / 5;
}

.login-main-display-pass-input {
  width: 200px;
  height: 40px;
  
  grid-column: 2 /3;
  grid-row: 5 / 6;
}

.login-main-display-login-button {
  width: 125px;
  height: 35px;

  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.login-main-display-signin-status-text {
  grid-column: 2/3;
  grid-row: 7 / 8;
}

.error-message {
  font-size: 16px;
}

