.background {
  background: linear-gradient(to bottom, #f5b52b, #ececd9);
  min-height: 100vh;
}

.main-display {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: black;
  border-width: 5px;

  width: 275px;
  max-width: 40%;
  margin-left: 40%;

}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.error-message {
  font-size: 16px;
}

